//* GLOBAL */
/* GLOBAL */
/* GLOBAL */

* {
  box-sizing: border-box;
  overflow: ;
}

body {
  margin: 0;
  background: url("../images/landing page/backgroundDots.png");
  background-size: 400px;
  height: 969px;
  padding: 0;
  overflow: hidden;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.sideNote {
  background: #3E000C;
  color: #FFCBDD;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  width: 500px;
  font-style: italic;
}

.sidePortrait {
  width: 160px;
  margin: 0 0 15px 0;
  display: flex;
  justify-content: center;
}

input, label {
  display: block;
}

#aboutMeSection .container,
#skillsSection .container,
#projectsSection .container {
  padding: 100px 0 20px 0;
}

/* ANIMATION ANIMATION ANIMATION */
/* ANIMATION ANIMATION ANIMATION */
/* ANIMATION ANIMATION ANIMATION */

@keyframes txtFadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes backgroundFadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

/* NAVIGATION */
/* NAVIGATION */
/* NAVIGATION */

#navFlexContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 10px 0 0 0;
  height: 60px;
}

#nav {
  width: 100%;
  background: #FFFFFF;
  position: fixed;
  z-index: 1030;
  display: ;
  opacity: 0;
  transition: opacity 1s;
  display: none;
}

#nav.fadein {
  opacity: 1;
}

#brand {
  color: #262730;
  font-family: "EB Garamond";
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  padding: 5px;
  display: inline-flex;
}

#navLinkList {
  list-style: none;
  display: inline-flex;
}

#navIconList {
  list-style: none;
  display: inline-flex;
}

#navAccountIconLink, #navBlogIconLink {
  color: red;
  font-size: 30px;
  padding: 2px 10px;
  display: inline-flex;
  opacity: 0.5;
  text-decoration: none;
}

.navLink {
  text-decoration: none;
  color: #262730;
  font-size: 1.4rem;
  padding: 0 10px;
  text-align: center;
}

.navLink:hover {
  color: black;
}

.icon {
  display: none;
  padding: 3px;
}

#hamburgerIcon i {
  padding: 3px;
  border-radius: 20%;
}

#hamburgerIcon i:hover {
  background: #f4f4f4;
}

/* LANDING PAGE */
/* LANDING PAGE */
/* LANDING PAGE */

#landingPage {
  height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.3s;
}

#landingPage.fade {
  opacity: 0;
}

#landingPageBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("../images/landing page/bg8.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  overflow: hidden;
}

#landingPageHeaderGroup {
  margin: auto;
  height: 40rem;
  animation: txtFadein 1s;
  text-shadow: -3px 3px 5px rgba(0,0,0,0.2);
  color: snow;
  opacity: 0.7;
  text-align: center;
}

#michaelJap, #chambersJap {
  font-size: 7rem;
  font-weight: 700;
  line-height: 7rem;
}

#michaelEng, #chambersEng {
  font-size: 9rem;
  font-family: "EB Garamond";
  font-weight: 500;
  line-height: 6rem;
}

#landingPage button {
  position: absolute;
  bottom: 2%;
  right: 0;
  left: 0;
  width: 150px;
  height: 50px;
  opacity: 0.7;
  z-index: 2;
  background: #333;
  border: solid;
  border-radius: 0.5rem;
  color: snow;
  font-size: 25px;
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

/* ABOUT ME */
/* ABOUT ME */
/* ABOUT ME */

#aboutMeSection {
  height: 970px;
  position: relative;
  background-size: cover;
  background-position: 275px -100px;
  opacity: 0;
  transition: opacity 1s;
}

#aboutMeSection.fadein {
  opacity: 1;
}

#aboutMeSectionBackground {
  background: rgba(255,255,255,0.6);
  width: 100%;
  height: inherit;
  position: absolute;
  z-index: -1;
}

#aboutMeHeader {
  font-family: "EB Garamond";
  color: #333;
  font-size: 6rem;
  text-align: center;
  float: left;
}

#aboutMeContent {
  margin: 50px auto 0 auto;
  width: 1000px;
}

#aboutMePortrait {
  display: block;
  background: url("../images/about/pic.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
  float: right;
}

#aboutMeSection p {
  font-size: 20px;
  width: 50%;
  float: left;
  text-align: justify;
}

#aboutPug {
  position: absolute;
  bottom: 0;
  left: 3%;
  z-index: -1;
  opacity: 0.7;
}

#aboutPug img {
  width: 19rem;
}

#aboutPug h4 {
  font-size: 27px;
  color: whitesmoke;
  position: absolute;
  top: 10%;
  left: 23%;
  text-align: center;
  width: 169px;
}

/* SKILLS */
/* SKILLS */
/* SKILLS */

#skillsSection {
  height: 880px;
}

#skillsSectionBackground {
  background: rgba(255,255,255,0.6);
  width: 100%;
  height: inherit;
  position: absolute;
  z-index: -1;
}

#skillsSection h1 {
  font-family: "eb garamond";
  padding-left: 1.7rem;
  color: #333;
  font-size: 5rem;
}

#skills {
  margin: 20px 0 0 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skill {
  margin: 0 0;
  width: 28%;
  display: inline-table;
  font-family: "EB Garamond";
  /* font-size: 20px; */

}

#skillCharts {
  display: flex;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

#skillCharts img {
  width: 50%;
  height: 50%;
}

/* PROJECTS */
/* PROJECTS */
/* PROJECTS */

#projectsSection {
  height: 969px;
  /* min-height: 100vh; */
  padding: 0 0 20px 0;
  position: relative;
}

#projectsSectionBackground {
  background: url("../images/projects/projectsPug2.png");
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-size: cover;
  background-position: 50% 100%;
  opacity: 0.6;
  z-index: -1;
}

#projectsHeader {
  margin: 0 0 10px;
  padding-left: 3rem;
  text-align: left;
  font-family: "EB Garamond";
  color: #333;
  font-size: 5rem;
}

#apps {
  text-align: center;
}

.app {
  display: inline-block;
  position: static;
  width: 29%;
  height: 300px;
  margin: 15px 15px;
}

.appImage1, .appImage2, .appImage3, .appImage4, .appImage5, .appImage6 {
  box-shadow: 0 0px 2px;
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.appImage1 {
  background: url("../images/projects/bouncyballsIcon.jpg");
  background-position: center;
  background-size: 100% auto;
}

.appImage2 {
  background: url("../images/projects/calculatorIcon.jpg");
  background-position: center;
  background-size: 100% auto;
}

.appImage3 {
  background: url("../images/projects/CoverArt.png");
  background-position: center;
  background-size: 100% auto;
}

.appImage4 {
  background: url("../images/projects/clockIcon.jpg");
  background-position: center;
  background-size: 100% auto;
}

.appImage5 {
  background: url("../images/projects/battleshipsIcon.jpg");
  background-position: center;
  background-size: 100% auto;
}

.appImage6 {
  background: url("../images/projects/moreAppsIcon.jpg");
  background-position: center;
  background-size: 100% auto;
}

.appName {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 42.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.app:hover .appImage1,
.app:hover .appImage2,
.app:hover .appImage3,
.app:hover .appImage4,
.app:hover .appImage5,
.app:hover .appImage6 {
  opacity: 0.6;
}

.app:hover .appName {
  opacity: 1;
}

.appName {
  position: relative;
  top: -50%;
  left: 50%;
  margin: 0 auto;
}

.appName a {
  background-color: #323031;
  color: white;
  font-size: 1.2rem;
  font-family: "EB Garamond";
  font-weight: 700;
  padding: 16px 32px;
  margin: auto 0;
  text-align: center;
  text-decoration: none;
}

.appName a:hover {
  background-color: #084C61;
}


/* CONTACT */
/* CONTACT */
/* CONTACT */

#contactSection {
  height: 100vh;
  background: rgba(245,222,179,0.6);
  color: #333;
  position: relative;
  font-weight: bold;
  overflow: hidden;
}

#contactSectionElementContainer {
  margin: auto;
}

#contactForm  {
  position: relative;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#contactSection h1, #contactSection p {
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 50%;
  font-size: 1.4rem;
  font-family: "roboto";
}

#contactSection h1 {
  padding: 200px 0 10px 0;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

#contactForm label, input, textarea, button {
  margin: 0 auto;
  display: block;
  width: 100%;
}

#contactForm label {
  font-size: 20px;
  margin: 10px auto 0 5px;
}

#contactForm input {
  box-shadow: 0 0 0 1px rgba(0,0,0, 0.2);
  border: none;
  border-radius: 3px;
  background: #f8f8f8;
  height: 35px;
  padding: 0 0 0 9px;
  font-size: 14px;
}

#contactForm textarea {
  width: 100%;
  height: 150px;
  padding: 6px 0 0 9px;
  border: none;
  border-radius: 3px;
  background-color: #F8f8f8;
  resize: none;
  box-shadow: 0 0 0 1px rgba(0,0,0, 0.2);
  font-size: 14px;
}

#contactForm button {
  height: 50px;
  background: #99544D;
  box-shadow: 0 0 10px 1px rgba(0,0,0, 0.2);
  border: none;
  border-radius: 3px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  font-family: "roboto";
  color: #f8f8f8;
}

#contactForm label {
  text-align: left;
}

#contactPug {
  position: absolute;
  top: 30%;
  left: 67%;
  opacity: 0.8;
}

#contactPug img {
  width: 30rem;
}

#contactPug2 {
  position: absolute;
  bottom: 0;
  left: 5%;
  opacity: 0.7;
  box-shadow: 0 0 0 rgba(0,0,0,);
}

#contactPug2 img {
  width: 30rem;
}

#contactPug2 h4 {
  position: absolute;
  top: 24%;
  left: 5%;
  color: white;
  font-size: 1.1rem;
  width: 6rem;
  text-align: center;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER*/
/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER*/
/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER*/

#footer {
  height: 500px;
  background: #333;
  border-top: dashed 5px #222;
  color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LARGE LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE LARGE */

@media (max-width: 1200px) {

  #michaelJap, #chambersJap {
    font-size: 7rem;
    font-weight: 300;
    line-height: 6rem;
  }

  #michaelEng, #chambersEng {
    font-size: 8rem;
    font-weight: 300;
    line-height: 6rem;
  }

  #aboutMeContent {
    padding: 0 56px;
  }

  #aboutMeSection p {
    width: 56%;
  }

  #skillsSection h1 {
    padding-left: 1.3rem;
  }

  #contactForm {
    width: 65%;
  }

  #contactPug {
    display: none;
  }
}

/* SMALL SMALL SMALL SMALL SMALL SMALL SMALL*/
/* SMALL SMALL SMALL SMALL SMALL SMALL SMALL*/
/* SMALL SMALL SMALL SMALL SMALL SMALL SMALL*/

@media (max-width: 990px){

  .navLink {
    display: none;
    color: wheat;
  }

  .navIconItem {
    display: none;
    width: 48%;
    text-align: center;
  }

  #navFlexContainer a.icon {
    float: right;
    display: block;
    font-size: 25px;
    color: red;
    opacity: 0.5;
  }

  #navLinkList {
    list-style: none;
    display: block;
    position: relative;
    left: 35%;
    top: 50px;
    height: 208px;
    border-top: #333 solid;
    border-bottom: #333 solid;
    background: indianred;
    padding: 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  #navAccountIconLink, #navBlogIconLink {
    padding: 0;
    color: wheat;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    opacity: 1;
  }

  #aboutMeSection {
    height: 1080px;
  }

  #aboutMeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
  }

  #aboutMeHeader {
    text-align: center;
    font-size: 6.7rem;
  }

  #aboutMePortrait {
    width: 32rem;
    float: none;
  }

  #aboutMeSection p {
    width: 92%;
  }

  #aboutPug {
    display: none;
  }

  #skillsSection {
    height: 1100px;
  }

  #skillsSection h1 {
    padding-left: 0;
    text-align: center;
  }

  .skill {
    width: 45%;
    margin: 0 15px;
    font-size: 1.2rem;
    text-align: center;
  }

  .skill h5 {
    font-size: 1.8rem;
  }

  #skillsGrid {
    margin-bottom: 20px;
  }

  #projectsSection {
    height: 1300px;
  }

  #projectsHeader {
    padding-left: 0;
    text-align: center;
    font-size: 5rem;
  }

  #apps {
    text-align: center;
  }

  .app {
    width: 45%;
  }

  #contactSection h1, #contactSection p {
    width: 75%;
  }

  #contactForm {
    width: 75%;
  }
}

/* XSMALL XSMALL XSMALL XSMALL XSMALL XSMALL XSMALL*/
/* XSMALL XSMALL XSMALL XSMALL XSMALL XSMALL XSMALL*/
/* XSMALL XSMALL XSMALL XSMALL XSMALL XSMALL XSMALL*/

@media (max-width: 769px){
  #michaelJap, #chambersJap {
    font-size: 5rem;
    line-height: 4rem;
  }

  #michaelEng, #chambersEng {
    font-size: 6rem;
    line-height: 5rem;
  }

  #aboutMeSection {
    height: 1100px;
  }

  #aboutMePortrait {
  }

  #aboutMeHeader {
    width: 32rem;
    font-size: 6rem;
  }

  #aboutMeSection p {
    width: 30rem;
  }

  #skillsSection {
    height: 2100px;
  }

  #skillsSection h1 {
    text-align: center;
    font-size: 5rem;
  }

  .skill {
    width: 100%;
    margin: 10px 15px;
    text-align: center;
    font-size: 1.3rem;
  }

  .skill h5 {
    font-size: 2rem;
  }

  #skillCharts {
    display: inline-block;
  }

  #skillCharts img {
    width: 100%;
    height: 100%;
  }

  #projectsSection {
    height: 2900px;
  }

  .app {
    width: 75%;
    height: 400px;
  }

  #contactForm label {
    width: 100%;
    text-align: center;
  }

  @media (max-height: 872px){
    #contactSection h1 {
      padding: 500px 0 10px 0;
    }
  }
}
