//* GLOBAL */
/* GLOBAL */
/* GLOBAL */

html {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
  margin: 0;
  background: url("../images/landing page/backgroundDots.png");
  background-size: 400px;
  height: 969px;
  padding: 0;
  overflow: hidden;
}


.sideNote {
  background: #3E000C;
  color: #FFCBDD;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  width: 500px;
  font-style: italic;
}

.sidePortrait {
  width: 160px;
  margin: 0 0 15px 0;
  display: flex;
  justify-content: center;
}

input, label {
  display: block;
}

#aboutMeSection .container,
#skillsSection .container,
#projectsSection .container {
  padding: 6rem 0 20px 0;
}

/* ANIMATION ANIMATION ANIMATION */
/* ANIMATION ANIMATION ANIMATION */
/* ANIMATION ANIMATION ANIMATION */

@keyframes txtFadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes backgroundFadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

/* NAVIGATION */
/* NAVIGATION */
/* NAVIGATION */

#navFlexContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
}

#nav {
  width: 100%;
  background: #FFFFFF;
  position: fixed;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  z-index: 1030;
  opacity: 0;
  transition: opacity 1s;
}

#nav.fade {
  opacity: 1;
}

#brand {
  font-family: "EB Garamond";
  font-size: 25px;
  margin: 0;
}

#navLinkList {
  list-style: none;
  display: inline-flex;
  margin: 0;
}

#navIconList {
  list-style: none;
  display: inline-flex;
}

#navAccountIconLink, #navBlogIconLink {
  color: red;
  font-size: 30px;
  padding: 2px 10px;
  display: inline-flex;
  opacity: 0.5;
  text-decoration: none;
}

.navLink {
  color: #262730;
  font-size: 1.4rem;
  padding: 0 10px;
  text-align: center;
}

.navLink:hover {
  color: black;
}

#hamburger {
  display: none;
  padding: 3px 5px;
}

#hamburgerIcon {
  padding: 3px;
  border-radius: 20%;
}

/* LANDING PAGE */
/* LANDING PAGE */
/* LANDING PAGE */

#landingPage {
  height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.3s;
  background: url("../images/landing page/landingBackground.jpg");
  background-size: cover;
  background-position: center;
}

#landingPage.fade {
  opacity: 0;
}

#landingPageHeaderGroup {
  margin: auto;
  height: 40rem;
  animation: txtFadein 1s;
  text-shadow: -3px 3px 5px rgba(0,0,0,0.2);
  color: snow;
  opacity: 0.7;
  text-align: center;
}

#michaelJap, #chambersJap {
  font-size: 7rem;
  font-weight: 700;
  line-height: 7rem;
}

#michaelEng, #chambersEng {
  font-size: 9rem;
  font-family: "EB Garamond";
  font-weight: 500;
  line-height: 6rem;
}

#landingPage button {
  position: absolute;
  bottom: 3%;
  right: 0;
  left: 0;
  width: 13rem;
  height: 4rem;
  opacity: 0.7;
  z-index: 2;
  background: #333;
  border: solid;
  border-radius: 0.5rem;
  color: snow;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  outline: none;
}

/* ABOUT ME */
/* ABOUT ME */
/* ABOUT ME */

#aboutMeSection {
  height: 970px;
  position: relative;
  opacity: 0;
  transition: opacity 1s;
}

#aboutMeSection.fade {
  opacity: 1;
}

#aboutMeSectionBackground {
  background: rgba(255,255,255,0.6);
  width: 100%;
  height: inherit;
  position: absolute;
  z-index: -1;
}

#aboutMeHeader {
  font-family: "EB Garamond";
  color: #333;
  font-size: 6rem;
  float: left;
  border-bottom: 2px solid grey;
  height: 6.7rem;
  margin-bottom: 1rem;
}

#aboutMeContent {
  margin: 50px auto 0 auto;
  width: 1000px;
}

#aboutMePortrait {
  background: url("../images/about/pic.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 40%;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.3);
  float: right;
}

#aboutMeSection p {
  font-size: 1.2rem;
  width: 50%;
  float: left;
  text-align: justify;
  font-family: sans-serif;
}

#aboutMeSection #txtGitHub {
  font-size: 1rem;
}

#aboutPug {
  position: absolute;
  bottom: 0;
  left: 3%;
  opacity: 0.7;
}

#aboutPug img {
  width: 19rem;
}

#aboutPug h4 {
  font-size: 27px;
  color: whitesmoke;
  position: absolute;
  top: 7%;
  left: 23%;
  text-align: center;
  width: 169px;
}

/* SKILLS */
/* SKILLS */
/* SKILLS */

#skillsSection {
  height: 54rem;
}

#skillsSectionBackground {
  background: rgba(255,255,255,0.6);
  width: 100%;
  height: inherit;
  position: absolute;
  z-index: -1;
}

#skillsSection h1 {
  width: 20rem;
  margin: 0 auto 1rem;
  text-align: center;
  font-family: "EB Garamond";
  color: #333;
  font-size: 5rem;
  border-bottom: 2px solid grey;
}

#skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2.6rem 0 0 0;
}

.skill {
  margin: 2rem 0;
  width: 42%;
  height: 19rem;
  padding: 1.5rem 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
  font-size: 1.4rem;
  border: solid 1px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  background: #f6f6f6;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.6);
}

.skill:hover {
  background: indianred;
  transition: .2s ease;
}

.skill:hover h5 {
  background: indianred;
  transition: .2s ease;
}

.skill h5 {
  font-family: "EB Garamond";
  font-size: 2rem;
  border: solid 1px rgba(0, 0, 0, 0.2);
  padding: 0.2rem 1rem;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.6);
  position: relative;
  top: -3rem;
  background: #f4f4f4;
}

.skill p {
  position: relative;
  top: -2rem;
}

#txtCssJoke {
  font-size: 0.6rem;
  top: -2.5rem;
  color: grey;
}

/* PROJECTS */
/* PROJECTS */
/* PROJECTS */

#projectsSection {
  height: 969px;
  padding: 0 0 20px 0;
  position: relative;
}

#projectsSectionBackground {
  background: url("../images/projects/design/bkgdProjects.png");
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-size: cover;
  background-position: 50% 100%;
  opacity: 0.6;
  z-index: -1;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projectsHeader {
  width: 30rem;
  margin: 0 auto 1rem;
  text-align: center;
  font-family: "EB Garamond";
  color: #333;
  font-size: 5rem;
  border-bottom: 2px solid grey;
}

#apps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0 0 0;
  width: 100%;
}

.app {
  position: relative;
  width: 19rem;
  height: 19rem;
  border-radius: 3rem;
  margin: 0.5rem;
  box-shadow: -2px 2px 3px rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.95;
  transition: .5s ease;
}

.appImg {
  opacity: 1;
  width: 90%;
  height: 90%;
  backface-visibility: hidden;
  background-position: center !important;
  background-size: cover !important;
  border-radius: 3rem;
  transition: .2s ease;
}

.appNameContainer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appName {
  background: firebrick;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: white;
  text-align: center;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: .5s ease;
}

/* Projects Design Specifics */

/* Bkgd Images */
#appImgBattleships {
  background: url("../images/projects/games/appAdvBattleships.png");
}

#appImgCalculator {
  background: url("../images/projects/tools/appSimpleCalculator.jpg");
}

#appImgPomodoro {
  background: url("../images/projects/tools/appPomodoro.png");
}

#appImgWordCounter {
  background: url("../images/projects/tools/appWordCounter.jpg");
}

#appImgBouncyBalls {
  background: url("../images/projects/games/appBouncyBalls.jpg");
}

#appImgMoreApps {
  background: url("../images/projects/design/moreApps.jpg");
}

/* specific app thumbnail designs */

#appAdvBattleships {
  background: #333;
}

#appSimpleCalculator {
  background: #EB7E45;
}

#appPomodoro {
  background: #68bfc8;
}

#appWordCounter {
  background: #E5D59A;
}

#appBouncyBalls {
  background: #151515;
}

#moreApps {
  background: #7FAEF2;
}

/* Projects Animation Classes */

.app:hover .appImg {
  opacity: 0.6;
}

.app:hover .appName {
  opacity: 1;
}

.app:hover {
  box-shadow: 0 0 8px black;
  z-index: 10;
}

.app-large {
  display: inline-block;
  position: static;
  width: 50rem;
  height: 23rem;
  margin: 15px 15px;
  background: white;
  box-shadow: -2px 2px 2px rgba(0,0,0,0.5);
}

.appImg-small {
  border-radius: 2rem;
  width: 20rem;
  height: 20rem;
  position: relative;
  top: 1.5rem;
  left: 1.5rem;
}

/* CONTACT */
/* CONTACT */
/* CONTACT */

#contactSection {
  height: 100vh;
  background: rgba(245,222,179,0.6);
  color: #333;
  position: relative;
  font-weight: bold;
  overflow: hidden;
}

#contactSectionElementContainer {
  margin: auto;
}

#contactForm  {
  position: relative;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#contactSection h1, #contactSection p {
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 50%;
  font-size: 1.4rem;
  font-family: "roboto";
}

#contactSection h1 {
  padding: 200px 0 10px 0;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

#contactForm label, input, textarea, button {
  margin: 0 auto;
  display: block;
  width: 100%;
}

#contactForm label {
  font-size: 20px;
  margin: 10px auto 0 5px;
}

#contactForm input {
  box-shadow: 0 0 0 1px rgba(0,0,0, 0.2);
  border: none;
  border-radius: 3px;
  background: #f8f8f8;
  height: 35px;
  padding: 0 0 0 9px;
  font-size: 14px;
}

#contactForm textarea {
  width: 100%;
  height: 150px;
  padding: 6px 0 0 9px;
  border: none;
  border-radius: 3px;
  background-color: #F8f8f8;
  resize: none;
  box-shadow: 0 0 0 1px rgba(0,0,0, 0.2);
  font-size: 14px;
}

#contactForm button {
  height: 50px;
  background: #99544D;
  box-shadow: 0 1px 2px rgba(0,0,0);
  border: none;
  border-radius: 3px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  font-family: "roboto";
  color: #f8f8f8;
}

#contactForm label {
  text-align: left;
}

#contactPug {
  position: absolute;
  top: 30%;
  left: 67%;
  opacity: 0.8;
}

#contactPug img {
  width: 30rem;
}

#contactPug2 {
  position: absolute;
  bottom: 0;
  left: 5%;
  opacity: 0.7;
  box-shadow: 0 0 0 rgba(0,0,0,);
}

#contactPug2 img {
  width: 30rem;
}

#contactPug2 h4 {
  position: absolute;
  top: 24%;
  left: 5%;
  color: white;
  font-size: 1.1rem;
  width: 6rem;
  text-align: center;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER*/
/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER*/
/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER*/

#footer {
  position: relative;
  height: 500px;
  background: #333;
  border-top: dashed 5px #222;
  color: #f4f4f4;
}

#socialMediaList {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 18rem;
  margin: 2.3rem auto;
  font-size: 4rem;
  padding: 0;
}

#socialMediaList a {
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #f4f4f4;
}

#socialMediaList a:hover {
  background: indianred;
}

#footerHR {
  width: 19rem;
  height: 0.2rem;
  background: #f4f4f4;
}

#techUsedList {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 21rem;
  margin: 3rem auto;
  font-weight: 300;
  font-size: 1.3rem;
}

#txtCopywrite {
  text-align: center;
  font-style: italic;
  color: grey;
  position: relative;
  bottom: -4rem;
}

#pugliepugLink {
  color: violet;
}

/* XLARGE XLARGE XLARGE XLARGE XLARGE XLARGE XLARGE */
/* XLARGE XLARGE XLARGE XLARGE XLARGE XLARGE XLARGE */
/* XLARGE XLARGE XLARGE XLARGE XLARGE XLARGE XLARGE */

@media (max-width: 1600px) {
  #aboutPug img {
    width: 17rem;
  }

  #aboutPug h4 {
    font-size: 24px;
    left: 20%;
  }
}

/* LARGE LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE LARGE */

@media (max-width: 1200px) {

  /* Landing page */

  #michaelJap, #chambersJap {
    font-size: 7rem;
    font-weight: 300;
    line-height: 6rem;
  }

  #michaelEng, #chambersEng {
    font-size: 8rem;
    font-weight: 300;
    line-height: 6rem;
  }

  /* About me page */

  #aboutMeContent {
    padding: 0 56px;
  }

  #aboutMeSection p {
    width: 56%;
  }

  /* Skills page */

  #skillsSection h1 {
    padding-left: 1.3rem;
  }

  .skill {
    width: 45%;
    height: 16rem;
    font-size: 1.2rem;
  }

  .skill p {
    top: -2.5rem;
  }

  /* Projects Section */

  #apps {
    margin: 2rem 0 0 0;
  }

  /* Contact page */

  #contactForm {
    width: 65%;
  }

  #contactPug {
    display: none;
  }
}

/* SMALL SMALL SMALL SMALL SMALL SMALL SMALL*/
/* SMALL SMALL SMALL SMALL SMALL SMALL SMALL*/
/* SMALL SMALL SMALL SMALL SMALL SMALL SMALL*/

@media (max-width: 991px){

  /* Navigation Bar */

  #nav.dropdownStyle {
    background: #292929;
  }

  #brand.dropdownStyle, #hamburger.dropdownStyle {
    color: wheat;
  }

  .navLink {
    display: none;
    color: wheat !important;
    font-size: 50px;
    padding: 0;
  }

  .navLink:hover {
    color: crimson  !important;
    background: #303030;
  }

  .navIconItem {
    display: none;
    width: 8rem;
    text-align: center;
  }

  .navIconItem i {
    font-size: 3rem;
  }

  .navIconItem i:hover {
    color: crimson;
  }

  #hamburger {
    float: right;
    display: block;
    font-size: 25px;
    color: red;
    opacity: 0.7;
  }

  #navLinkList {
    list-style: none;
    display: none;
    position: fixed;
    flex-direction: column;
    line-height: 5rem;
    text-align: center;
    top: 3.7rem;
    height: 100%;
    width: 100%;
    background: #333;
    padding: 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  #navAccountIconLink, #navBlogIconLink {
    padding: 0;
    color: wheat;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    opacity: 1;
  }

  /* Landing Page */

  #landingPage {
    height: 110vh;
  }

  /* About Me Page */

  #aboutMeSection {
    height: 74rem;
  }

  #aboutMeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
  }

  #aboutMeHeader {
    text-align: center;
    font-size: 7rem;
    width: 37rem;
    height: 7.7rem;
  }

  #aboutMePortrait {
    width: 36rem;
    height: 40rem;
    margin: 1.5rem 0 0 0;
  }

  #aboutMeSection p {
    width: 38rem;
  }

  #aboutPug {
    display: none;
  }

  /* Skills Page*/

  #skillsSection {
    height: 59rem;
  }

  #skillsSection h1 {
    padding-left: 0;
    text-align: center;
  }

  #skills {
    margin-top: 2rem;
  }

  .skill {
    height: 21rem;
    margin: 1.3rem 0;
  }

  .skill h5 {
    font-size: 1.8rem;
  }

  #skillsGrid {
    margin-bottom: 20px;
  }


  /* Projects Page */

  #projectsSection {
    height: 1300px;
  }

  #projectsHeader {
    padding-left: 0;
    text-align: center;
    font-size: 5rem;
  }

  .app {
    width: 45%;
  }

  /* Contact Me Page */

  #contactSection h1, #contactSection p {
    width: 75%;
  }

  #contactForm {
    width: 75%;
  }
}

/* XSMALL XSMALL XSMALL XSMALL XSMALL XSMALL XSMALL*/
/* XSMALL XSMALL XSMALL XSMALL XSMALL XSMALL XSMALL*/
/* XSMALL XSMALL XSMALL XSMALL XSMALL XSMALL XSMALL*/

@media (max-width: 769px){

  /* Landing Page */

  #michaelJap, #chambersJap {
    font-size: 5rem;
    line-height: 4rem;
  }

  #michaelEng, #chambersEng {
    font-size: 6rem;
    line-height: 5rem;
  }

  #landingPage button {
    bottom: 4%;
    width: 15rem;
    height: 4rem;
  }

  /* About Me Page */

  #aboutMeSection {
    height: 67rem;
  }

  #aboutMePortrait {
    width: 30rem;
    height: 30rem;
  }

  #aboutMeHeader {
    font-size: 5.7rem;
    width: 30rem;
    height: 6.5rem;
  }

  #aboutMeSection p {
    width: 30rem;
  }

  /* Skills page */

  #skillsSection {
    height: 106rem;
  }

  #skillsSection h1 {
    text-align: center;
    font-size: 5rem;
  }

  .skill {
    width: 72%;
    margin: 1.5rem 0;
    font-size: 1.3rem;
  }

  .skill h5 {
    font-size: 2rem;
  }

  /* Projects Page */

  #projectsSection {
    height: auto;
  }

  .app {
    width: 15rem;
    height: 15rem;
  }

  /* Contact Me Page */

  #contactSection h1 {
    padding: 10rem 0 1rem 0;
  }

  #contactForm label {
    width: 100%;
    text-align: center;
  }

  @media (max-height: 872px){
    #contactSection h1 {
      padding: 500px 0 10px 0;
    }
  }
}
