/* GLOBAL */
/* GLOBAL */
/* GLOBAL */

body {
  margin: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.sideNote {
  background: #3E000C;
  color: #FFCBDD;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  width: 500px;
  font-style: italic;
}

.sidePortrait {
  width: 160px;
  margin: 0 0 15px 0;
  display: flex;
  justify-content: center;
}

.paragraphs {
  font-size: 1.4rem;
  font-family: "EB Garamond";
}


/* NAVIGATION */
/* NAVIGATION */
/* NAVIGATION */

#brand {
  color: #262730;
  font-family: "EB Garamond";
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  padding: 5px;
}

.nav-link {
  color: #262730;
  font-size: 1.4rem;
  font-family:
}

.nav-link:hover {
  color: rgba(205,0,0);
}

#navLinks {
  justify-content: space-around;
}

/* LANDING PAGE */
/* LANDING PAGE */
/* LANDING PAGE */

#landingPage {
  background: url("images/landing page/background2.jpg");
  background-size: cover;
  background-position: 400px -10%;
  height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
}

#michaelJap {
  font-size: 5rem;
  color: #262730;
  font-weight: 300;
  position: absolute;
  top: 26.3%;
  left: 18.5%;
  font-weight: 700;
}

#michaelEng {
  font-size: 7rem;
  color: #262730;
  font-family: "EB Garamond";
  font-weight: 500;
  position: relative;
  top: 32.5%;
  left: 24.5%;
}

#chambersEng {
  font-size: 7rem;
  color: #262730;
  font-family: "EB Garamond";
  font-weight: 500;
  position: absolute;
  top: 42.5%;
  left: 26.5%;
}

#chambersJap {
  font-size: 5rem;
  color: #262730;
  font-weight: 300;
  position: absolute;
  top: 54%;
  left: 21%;
  font-weight: 700;
}

#homeArrow img {
  width: 5rem;
  opacity: 0.5;
}

#homeArrow {
  position: absolute;
  top: 89%;
  left: 47.6%;
}

/* ABOUT ME */
/* ABOUT ME */
/* ABOUT ME */

#aboutMeSection {
  height: 100vh;
  padding: 100px 0 20px 0;
  background: url("images/about me/background3.jpg");
  background-size: cover;
  background-position: 250px -150px;
  position: relative;
}

#aboutMeHeader {
  margin: 0 0 10px;
  padding-left: 20px;
  text-align: left;
  font-family: "EB Garamond";
}

#aboutMePortrait {
  width: 350px;
  float: left;
}

#aboutMeSection p {
  padding: 0 200px 0 0;
}

#aboutArrow img {
  width: 5rem;
  opacity: 0.5;
}

#aboutArrow {
  position: absolute;
  top: 89%;
  left: 47.6%;
}

/* PROJECTS */
/* PROJECTS */
/* PROJECTS */

#projectsSection {
  height: 100vh;
  padding: 100px 0 20px 0;
  position: relative;
}

#projectsHeader {
  margin: 0 0 10px;
  padding-left: 2rem;
  text-align: left;
  font-family: "EB Garamond";
}

#projectsGrid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: center;
  height: 74vh;
}

.app {
  width: 500px;
  position: relative;
  margin: 15px 15px;
}

.appImage1, .appImage2, .appImage3, .appImage4, .appImage5, .appImage6 {
  box-shadow: 0 0px 2px;
  opacity: 1;
  display: block;
  width: 100%;
  height: 200px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.appImage1 {
  background: url("images/projects/app1.jpg");
  background-position: center;
  background-size: cover;
}

.appImage2 {
  background: url("images/projects/app2.jpg");
  background-position: center;
  background-size: cover;
}

.appImage3 {
  background: url("images/projects/app3.jpg");
  background-position: center;
  background-size: cover;
}

.appImage4 {
  background: url("images/projects/app4.jpg");
  background-position: center;
  background-size: cover;
}

.appImage5 {
  background: url("images/projects/app5.jpg");
  background-position: center;
  background-size: cover;
}

.appImage6 {
  background: url("images/projects/app6.jpg");
  background-position: center;
  background-size: cover;
}

.appName {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 42.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.app:hover .appImage1,
.app:hover .appImage2,
.app:hover .appImage3,
.app:hover .appImage4,
.app:hover .appImage5,
.app:hover .appImage6 {
  opacity: 0.6;
}

.app:hover .appName {
  opacity: 1;
}

.appName {
  top: 50%;
  left: 50%;
  margin: 0 auto;
}

.appName a {
  background-color: black;
  color: white;
  font-size: 1.2rem;
  font-family: "EB Garamond";
  font-weight: 700;
  padding: 16px 32px;
  margin: auto 0;
  text-align: center;
  text-decoration: none;
}

.appName a:hover {
  background-color: #333;
}

#projectsArrow img {
  width: 5rem;
  opacity: 0.5;
  margin: 0 auto;
  display: block;
}


/* MY STORY */
/* MY STORY */
/* MY STORY */

#myStorySection {
  background: #fff;
  background-position: center;
  background-size: cover;
  height: 970px;
}

#myStoryRow {
  position: relative;
  top: 150px;
}

#myStoryPortrait {
  float: right;
  width: 100%;
}

#myStoryRight {
  font-size: 1.2rem;
}
