/* GLOBAL */
/* GLOBAL */
/* GLOBAL */

body {
  margin: 0;
  background: url("images/landing page/background2.jpg");
  background-size: 4px;
  height: 969px;
  padding: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.sideNote {
  background: #3E000C;
  color: #FFCBDD;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  width: 500px;
  font-style: italic;
}

.sidePortrait {
  width: 160px;
  margin: 0 0 15px 0;
  display: flex;
  justify-content: center;
}

input, label {
  display: block;
}

/* NAVIGATION */
/* NAVIGATION */
/* NAVIGATION */

#navFlexContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 10px 0 0 0;
  height: 60px;
}

#nav {
  width: 100%;
  background: #FFFFFF;
  position: fixed;
  z-index: 1030;
}

#brand {
  color: #262730;
  font-family: "EB Garamond";
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  padding: 5px;
  display: inline-flex;
}

#navLinkList {
  list-style: none;
  display: inline-flex;
}

#navIconList {
  list-style: none;
  display: inline-flex;
}

#navAccountIconLink, #navBlogIconLink {
  color: red;
  font-size: 30px;
  padding: 2px 10px;
  display: inline-flex;
  opacity: 0.5;
  text-decoration: none;
}

.navLink {
  text-decoration: none;
  color: #262730;
  font-size: 1.4rem;
  padding: 0 10px;
  text-align: center;
}

.navLink:hover {
  color: black;
}

.icon {
  display: none;
  padding: 3px;
}

#hamburgerIcon i {
  padding: 3px;
  border-radius: 20%;
}

#hamburgerIcon i:hover {
  background: #f4f4f4;
}

/* LANDING PAGE */
/* LANDING PAGE */
/* LANDING PAGE */

#landingPage {
  height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
}

#landingPageBackground {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background: url("images/landing page/background2.jpg");
  background-size: cover;
  background-position: 400px -10%;
  opacity: 1;
}

#landingPageHeaderGroup {
  position: static;
  margin: auto;
  width: 600px;
  height: 600px;
}

#michaelJap {
  font-size: 5rem;
  color: #262730;
  position: absolute;
  top: 263px;
  left: 18.5%;
  font-weight: 700;
}

#michaelEng {
  font-size: 7rem;
  color: #262730;
  font-family: "EB Garamond";
  font-weight: 500;
  position: absolute;
  top: 325px;
  left: 24.5%;
}

#chambersEng {
  font-size: 7rem;
  color: #262730;
  font-family: "EB Garamond";
  font-weight: 500;
  position: absolute;
  top: 425px;
  left: 26.5%;
}

#chambersJap {
  font-size: 5rem;
  color: #262730;
  font-weight: 300;
  position: absolute;
  top: 540px;
  left: 21%;
  font-weight: 700;
}

#homeArrow img {
  width: 5rem;
  opacity: 0.5;
}

#homeArrow {
  position: absolute;
  top: 89%;
  left: 47.6%;
}

/* ABOUT ME */
/* ABOUT ME */
/* ABOUT ME */

#aboutMeSection {
  height: 880px;
  padding: 100px 0 0 0;
  position: relative;
  background: url("images/about me/background3.jpg");
  background-size: cover;
  background-position: 275px -100px;
  opacity: 1;
}

#aboutMeGrid{
  justify-content: space-around;
  height: 74vh;
}

#aboutMeHeader {
  font-family: "EB Garamond";
  color: #333;
  font-size: 5rem;
}

#aboutMePortrait {
  width: 390px;
  box-shadow: 0 0px 2px;
  display: inline-block;
  float: left;
  margin: 10px 10px 0 0;
}

.aboutMeText {
  font-size: 1.4rem;
  font-family: "EB Garamond";
  padding: 12px 180px 0 0;
}

/* SKILLS */
/* SKILLS */
/* SKILLS */

#skillsSection {
  height: 880px;
  padding: 100px 0 20px 0;
  background: white;
}

#skillsSection h1 {
  font-family: "eb garamond";
  padding-left: 1.7rem;
  color: #333;
  font-size: 5rem;
}

#skills {
  margin: 20px 0 0 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skill {
  margin: 0 0;
  width: 28%;
  display: inline-table;
  font-family: "EB Garamond";

}

#skillCharts {
  display: flex;
}

#skillCharts img {
  width: 50%;
  height: 50%;
}

/* PROJECTS */
/* PROJECTS */
/* PROJECTS */

#projectsSection {
  height: 969px;
  min-height: 100vh;
  padding: 100px 0 20px 0;
  background: white;
  position: relative;
}

#projectsHeader {
  margin: 0 0 10px;
  padding-left: 3rem;
  text-align: left;
  font-family: "EB Garamond";
  color: #333;
  font-size: 5rem;
}

#apps {
  text-align: center;
}

.app {
  display: inline-block;
  position: static;
  width: 29%;
  height: 300px;
  margin: 15px 15px;
}

.appImage1, .appImage2, .appImage3, .appImage4, .appImage5, .appImage6 {
  box-shadow: 0 0px 2px;
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.appImage1 {
  background: url("images/projects/app1.jpg");
  background-position: center;
  background-size: 100% auto;
}

.appImage2 {
  background: url("images/projects/app2.png");
  background-position: center;
  background-size: 100% auto;
}

.appImage3 {
  background: url("images/projects/app3.png");
  background-position: center;
  background-size: 100% auto;
}

.appImage4 {
  background: url("images/projects/app4.png");
  background-position: center;
  background-size: 100% auto;
}

.appImage5 {
  background: url("images/projects/app5.png");
  background-position: center;
  background-size: 100% auto;
}

.appImage6 {
  background: url("images/projects/app6.jpg");
  background-position: center;
  background-size: 100% auto;
}

.appName {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 42.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.app:hover .appImage1,
.app:hover .appImage2,
.app:hover .appImage3,
.app:hover .appImage4,
.app:hover .appImage5,
.app:hover .appImage6 {
  opacity: 0.6;
}

.app:hover .appName {
  opacity: 1;
}

.appName {
  position: relative;
  top: -50%;
  left: 50%;
  margin: 0 auto;
}

.appName a {
  background-color: #323031;
  color: white;
  font-size: 1.2rem;
  font-family: "EB Garamond";
  font-weight: 700;
  padding: 16px 32px;
  margin: auto 0;
  text-align: center;
  text-decoration: none;
}

.appName a:hover {
  background-color: #084C61;
}

#projectsArrow img {
  width: 5rem;
  opacity: 0.5;
  margin: 0 auto;
  display: block;
}

/* CONTACT */
/* CONTACT */
/* CONTACT */

#contactSection {
  height: 100vh;
  background: #FFC57C;
  color: #333;
  position: static;
  font-weight: bold;
}

#contactSectionElementContainer {
  margin: auto;
}

#contactForm  {
  position: relative;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#contactSection h1, #contactSection p {
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 50%;
  font-size: 1.4rem;
  font-family: "roboto";
}

#contactSection h1 {
  padding: 200px 0 10px 0;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

#contactForm label, input, textarea, button {
  margin: 0 auto;
  display: block;
  width: 100%;
}

#contactForm label {
  font-size: 20px;
  margin: 10px auto 0;
}

#contactForm input {
  box-shadow: 0 0 10px 1px rgba(0,0,0, 0.2);
  border: none;
  border-radius: 3px;
  background: #f8f8f8;
  height: 35px;
  padding: 0 0 0 5px;
}

#contactForm textarea {
  width: 100%;
  height: 150px;
  padding: 10px 0 0 5px;
  border: none;
  border-radius: 3px;
  background-color: #F8f8f8;
  resize: none;
  box-shadow: 0 0 10px 1px rgba(0,0,0, 0.2);
}

#contactForm button {
  height: 50px;
  background: #99544D;
  box-shadow: 0 0 10px 1px rgba(0,0,0, 0.2);
  border: none;
  border-radius: 3px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  font-family: "roboto";
  color: #f8f8f8;
}

#contactForm label {
  text-align: left;
}

/* LARGE LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE LARGE */

@media (max-width: 1200px) {
  #landingPageBackground {
    background: url("images/landing page/background2.jpg");
    background-size: 2750px;
    background-position: 49.1%;
    opacity: 0.6;
    height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
  }

  #michaelJap {
    font-weight: 300;
    position: relative;
    text-align: center;
    top: 60px;
    left: 0;
    right: 0;
  }

  #michaelEng {
    font-size: 5.5rem;
    font-weight: 300;
    position: relative;
    text-align: center;
    top: 30px;
    left: 0;
    right: 0;
  }

  #chambersEng {
    font-size: 5.5rem;
    font-weight: 300;
    position: relative;
    text-align: center;
    top: -7px;
    left: 0;
    right: 0;
  }

  #chambersJap {
    font-size: 4.5rem;
    font-weight: 300;
    position: relative;
    text-align: center;
    top: -36px;
    left: 0;
    right: 0;
  }

  #aboutMeSection {
    background: rgba(255, 255, 255, 0.6);
  }

  #aboutMeHeader {
    text-align: left;
    padding-left: 1.8rem;
  }

  #aboutMeContents {
    width: 94%;
    display: block;
    margin: 0 auto;
  }

  .aboutMeText {
    padding: 3px 0 0 0;
  }

  #skillsSection h1 {
    padding-left: 1.3rem;
  }

  #skillsSection {
    background: rgba(255, 255, 255, 0.6);
  }

  #projectsSection {
    background: rgba(255, 255, 255, 0.6);
  }

  #contactForm {
    width: 65%;
  }
}

/* SMALL SMALL SMALL SMALL SMALL SMALL SMALL*/
/* SMALL SMALL SMALL SMALL SMALL SMALL SMALL*/
/* SMALL SMALL SMALL SMALL SMALL SMALL SMALL*/

@media (max-width: 990px){

  .navLink {
    display: none;
    color: wheat;
  }

  .navIconItem {
    display: none;
    width: 48%;
    text-align: center;
  }

  #navFlexContainer a.icon {
    float: right;
    display: block;
    font-size: 25px;
    color: red;
    opacity: 0.5;
  }

  #navLinkList {
    list-style: none;
    display: block;
    position: relative;
    left: 35%;
    top: 50px;
    height: 208px;
    border-top: #333 solid;
    border-bottom: #333 solid;
    background: indianred;
    padding: 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  #navAccountIconLink, #navBlogIconLink {
    padding: 0;
    color: wheat;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    opacity: 1;
  }

  #aboutMeSection {
    height: 850px;
  }

  #aboutMeHeader {
    text-align: center;
  }

  #aboutMeContents {
    width: 100%;
  }

  #aboutMePortrait {
    width: 318px;
  }

  .aboutMeText {
    padding: 10px 0 0 0;
  }

  #skillsSection {
    height: 1100px;
  }

  #skillsSection h1 {
    padding-left: 0;
    text-align: center;
  }

  .skill {
    width: 45%;
    margin: 0 15px;
    font-size: 1.2rem;
    text-align: center;
  }

  .skill h5 {
    font-size: 1.8rem;
  }

  #skillsGrid {
    margin-bottom: 20px;
  }

  #projectsSection {
    height: 1300px;
  }

  #projectsHeader {
    padding-left: 0;
    text-align: center;
    font-size: 5rem;
  }

  #apps {
    text-align: center;
  }

  .app {
    width: 45%;
  }

  #contactSection h1, #contactSection p {
    width: 75%;
  }

  #contactForm {
    width: 75%;
  }
}

/* XSMALL XSMALL XSMALL XSMALL XSMALL XSMALL XSMALL*/
/* XSMALL XSMALL XSMALL XSMALL XSMALL XSMALL XSMALL*/
/* XSMALL XSMALL XSMALL XSMALL XSMALL XSMALL XSMALL*/

@media (max-width: 769px){
  #aboutMeSection {
    height: 1150px;
  }

  #aboutMeHeader {
    text-align: center;
    font-size: 5rem;
  }

  #aboutMePortrait {
    display: block;
    float: none;
    margin: 0 auto;
  }

  .aboutMeText {
    text-align: center;
    font-size: 1.3rem;
  }

  #skillsSection {
    height: 2100px;
  }

  #skillsSection h1 {
    text-align: center;
    font-size: 5rem;
  }

  .skill {
    width: 100%;
    margin: 10px 15px;
    text-align: center;
    font-size: 1.3rem;
  }

  .skill h5 {
    font-size: 2rem;
  }

  #skillCharts {
    display: inline-block;
  }

  #skillCharts img {
    width: 100%;
    height: 100%;
  }

  #projectsSection {
    height: 2900px;
  }

  .app {
    width: 75%;
    height: 400px;
  }

  #contactForm label {
    width: 100%;
    text-align: center;
  }

  @media (max-height: 872px){
    #contactSection h1 {
      padding: 500px 0 10px 0;
    }
  }
}
