canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
}

#button {
  width: 100px;
  height: 50px;
  display: block;
  margin: 10px auto;
}

h1 {
  font-family: sans-serif;
  text-align: center;
  display: none;
}
