* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background: #f4f4f4;
  font-family: sans-serif;
}

#battleshipsTitle {
  font-size: 50px;
  margin: 50px auto;
  text-align: center;
}

#battleshipGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  background: #333;
  height: 100px;
  margin: auto;
  width: 50%;
}

.cell {
  border: solid black;
  font-size: 30px;
  color: wheat;
}

#battleshipGrid a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#btnPlay {
  width: 100px;
  height: 45px;
  margin: 50px auto;
  font-size: 25px;
  border: none;
  background: #333;
  color: wheat;
  box-shadow: 0 3px 0px rgba(150,0,0, 0.5);
  justify-content: center;
  display: flex;
  outline: none;
}

/* GAME TEXT WINDOW */
/* GAME TEXT WINDOW */
/* GAME TEXT WINDOW */

#outPutScreen {
  justify-content: center;
  display: grid;
  grid-template-columns: 29% 71%;
  width: 75%;
  margin: auto;
  background: coral;
  border: solid 4px #333;
}

#outPutScreen p {
  padding: 20px 5px;
}

/* CLICK TO PLAY WINDOW*/

#pressPlayWindow {
  display: ;
  border-left: solid 4px #333;
  padding: 10px;
  font-size: 30px;
  color: maroon;
}

#preFireText {
  display: none;
  border-left: solid 4px #333;
  padding: 10px;
  font-size: 30px;
  color: maroon;
}
