* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background: #f4f4f4;
}

.hit {
  background: crimson;
}

#gameContainer {
  font-family: sans-serif;
}

#battleshipsTitle {
  font-size: 50px;
  margin: 50px auto;
  text-align: center;
}

#battleshipGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  background: #333;
  height: 100px;
  margin: auto;
  width: 50%;
}

.cell {
  border: solid black;
  font-size: 30px;
  color: wheat;
}

#battleshipGrid a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#battleshipGrid a:hover {
  background: orange;
}

#btnPlay {
  width: 100px;
  height: 45px;
  margin: 50px auto;
  font-size: 30px;
  border: none;
  background: #333;
  color: wheat;
  box-shadow: 0 3px 0px rgba(150,0,0, 0.5);
  justify-content: center;
  display: flex;
}

p {
  margin: auto;
  text-align: center;
}
