* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 50px;
  font-family: sans-serif;
}

#gameScreen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#gameScreen .btnCharSelect {
  background: #f4f4f4;
  width: 100px;
  text-align: center;
  border: solid black;
  height: 50px;
}

#characterPanel {
  background: url("characters/TEMPLATE.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 250px;
  margin: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#btnPlay {
  margin-bottom: 10px;
  width: 80%;
  height: 50px;
  border: solid black;
  font-size: 20px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

#btnPlay:hover {
  background: #f4f4f4;
}
