* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
}

.button {
  width: 12rem;
  height: 4rem;
  font-size: 2rem;
  background: firebrick;
  text-shadow: 0 2px 1px rgba(0,0,0,0.5);
  color: #f4f4f4;
  border: 3px solid rgba(0,0,0,0.4);
}

#backgroundShader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  background-color: rgba(155,155,155, 0.1);
  background: url("images/bkgd/4.jpg");
  background-position: center;
  background-size: cover;
  z-index: -2;
}

#appWindow {
  display: flex;
  margin: 5rem auto;
  background: rgba(255,0,0,0.1);
  width: 50rem;
  height: 25rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  box-shadow: 0 2px 2px rgba(0,0,0,0.5);
}

#windowBackground {
  position: absolute;
  width: inherit;
  height: inherit;
  background: url("images/backgroundRed.jpg") center/cover no-repeat;
  opacity: 0.8;
  z-index: -2;
}

#settingsContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#settingsContent h1 {
  text-shadow: 0 2px 1px rgba(0,0,0,0.5);
  color: #f4f4f4;
  font-size: 2.8rem;
}

#settingsContent #inputsGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 3rem;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
  padding: 0.8rem;
  background: firebrick;
  text-shadow: 0 2px 1px rgba(0,0,0,0.5);
  color: #f4f4f4;
  border: 3px solid rgba(0,0,0,0.4);
  width: 14rem;
}

.input h1 {
  font-size: 1.5rem;
  font-family: sans-serif;
}

.input input {
  margin: 1rem;
  height: 1.5rem;
  text-align: center;
}

#alertWindow {
  position: absolute;
  bottom: -4rem;
  background: firebrick;
  text-shadow: 0 2px 1px rgba(0,0,0,0.5);
  color: #f4f4f4;
  border: 3px solid rgba(0,0,0,0.4);
  font-weight: 300;
  width: 20rem;
  height: 3rem;
  display: none;
  justify-content: center;
  align-items: center;
}

#alertWindow h3 {
  font-size: 1.5rem;
}

#timerContent {
  display: none;
  justify-content: center;
}

#txtTimerName {
  position: absolute;
  top: 4rem;
  color: white;
  font-size: 3rem;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}

#txtTime {
  font-size: 8rem;
  text-align: center;
  color: #f4f4f4;
  text-shadow: 0 1px 3px rgba(0,0,0,1);
}

#btnStart, #btnPause, #btnContinue {
  position: absolute;
  bottom: 2rem;
}

#btnContinue, #btnPause {
  display: none;
}
