/* GLOBAL */
/* GLOBAL */
/* GLOBAL */

hr {
  box-shadow: 0 0.2px 0 rgba(0, 0, 0, 0.1);
}

/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */
/* HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER HEADER */

/* NAVIGATION NAVIGATION */
/* NAVIGATION NAVIGATION */
/* NAVIGATION NAVIGATION */

#nav {
  width: 100%;
  background: antiquewhite;
  position: fixed;
  z-index: 1030;
}

#navFlexContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 10px;
  overflow: hidden;
  height: 60px;
}

#brand {
  color: #262730;
  font-family: "EB Garamond";
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  padding: 5px;
  display: inline-flex;
}

#navLinkList {
  list-style: none;
  display: inline-flex;
  padding: 5px;
}

#navIconList {
  list-style: none;
  display: inline-flex;
}

#navAccountIconLink, #navBlogIconLink {
  color: red;
  font-size: 30px;
  padding: 2px 10px;
  display: inline-flex;
  opacity: 0.5;
  text-decoration: none;
}

.navLink {
  text-decoration: none;
  color: #262730;
  font-size: 1.4rem;
  padding: 0 10px;
}

.navLink:hover {
  color: black;
}

.icon {
  display: none;
}

/* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */
/* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */
/* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */
/* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */
/* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */
/* MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN MAIN */

/* JUMBOTRON  JUMBOTRON */
/* JUMBOTRON  JUMBOTRON */
/* JUMBOTRON  JUMBOTRON */

#jumbotron {
  text-align: center;
  display: block;
  background: antiquewhite;
}

#jumbotron img {
  margin-top: 100px;
  height: 8rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

#jumbotron h1 {
  margin-top: 10px;
  font-size: 4rem;
  font-weight: 100;
}

#jumbotron p {
  width: 60%;
  margin: 15px auto 0;
  padding: 0 0 60px 0;
  font-weight: 200;
  line-height: 30px;
}

/* GENRE GENRE GENRE */
/* GENRE GENRE GENRE */
/* GENRE GENRE GENRE */

#genreSection {
  background: #EE6C4D;
  display: block;
  text-align: center;
}

#genreSectionStyle {
  background: url("../images/genreStyle.png");
  height: 100%;
  background-color: rgba(200, 55, 50, 0.2);
}

#genreSection h1 {
  padding: 50px 0 10px 0;
  font-size: 7rem;
  color: bisque;
  font-weight: 100;
}

#genreSection a {
  text-decoration: none;
  color: inherit;
}

.genreCard {
  display: inline-block;
  width: 30%;
  margin: 30px 15px;
  background: white;
}

#genreSoftwareDevelopment {
  background: url("../images/softwareDevelopment.png") center;
  background-size: cover;
  opacity: 0.8;
}

#genreGamesDevelopment {
  background: url("../images/gamesDevelopment.jpg") center;
  background-size: cover;
  opacity: 0.8;
}

#genreMusicProduction {
  background: url("../images/musicProduction.jpg") center;
  background-size: cover;
  opacity: 0.8;
}

#genreColourSchemes {
  background: url("../images/colourSchemes.jpg") center;
  background-size: cover;
  opacity: 0.8;
}

#genreHardware {
  background: url("../images/hardware.jpg") center;
  background-size: cover;
  opacity: 0.8;
}

#genreSoftware {
  background: url("../images/software.jpg") center;
  background-size: cover;
  opacity: 0.8;
}

#genreGamesDevelopment,
#genreSoftwareDevelopment,
#genreMusicProduction,
 #genreColourSchemes,
 #genreHardware,
 #genreSoftware {
  height: 200px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  display: flex;
}

.genreCard:hover {
  outline: 3px solid white;
}

.genreCard h5 {
  font-size: 1.2rem;
  margin: auto;
  background: rgba(255,255,255,0.5);
  padding: 10px 0 0;
}

.titleHr {
  width: 40px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  margin: 15px auto 10px !important;
}

.genreCard p {
  width: 50%;
  margin: auto;
  padding: 0 0 10px;
}

.genreCard hr {
  margin: 0;
}

.genreCard h4 {
  font-size: 15px;
  margin: 0;
  padding: 15px;
}

.genreCard h4:hover {
  background: rgba(245,245,245, 0.8);
}
/* SMALL SMALL SMALL SMALL SMALL SMALL SMALL*/
/* SMALL SMALL SMALL SMALL SMALL SMALL SMALL*/
/* SMALL SMALL SMALL SMALL SMALL SMALL SMALL*/

@media (max-width: 990px){

  #navFlexContainer a {
    display: none;
  }

  #navFlexContainer a.icon {
    float: right;
    display: block;
    font-size: 25px;
    color: red;
    opacity: 0.5;
  }

  .nav-link {
    font-size: 1.1rem;
  }
}
